@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background-color: #f9fafb;
    color: #171717;
    font-family: system-ui, -apple-system, sans-serif;
}
